fastapi==0.110.0
uvicorn==0.29.0
pandas==2.2.2 --only-binary :all:
requests==2.31.0
python-dotenv==1.0.1
gspread==5.12.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
beautifulsoup4==4.12.3
numpy==1.26.4 --only-binary :all:
